:root {
  --color-primary: hsl(231, 69%, 60%);
  --color-secondary: hsl(0, 54%, 53%);
  --color-headings: hsl(229, 31%, 21%);
  --color-universal: hsl(229, 8%, 60%);
  --color-universal-dark: hsl(231, 5%, 48%);
  --color-neutral: hsl(255, 100%, 100%);
  --primary-font-family: "Rubik", sans-serif;

  --transition-duration: 300ms;

  --5xl-fs: 2.986rem;
  --4xl-fs: 2.488rem;
  --3xl-fs: 2.074rem;
  --2xl-fs: 1.728rem;
  --xl-fs: 1.44rem;
  --large-fs: 1.2rem;
  --default-fs: 1rem;
  --small-fs: 0.833rem;
  --smallest-fs: 0.694rem;
}

$bp-medium: 57em;
$bp-mobile: 47em;
$bp-smallest: 25em;
