@use "./../../abstracts/mixins" as *;
@use "./../../abstracts/variables" as *;

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  &--hamburger {
    display: none;

    @include media($bp-mobile) {
      display: flex;
    }
  }

  &--features,
  &--active {
    width: 100%;
    padding: var(--xl-fs) var(--5xl-fs);
    color: var(--color-universal-dark);
    border-bottom: 3px solid transparent;
    transition: var(--transition-duration);

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      border-color: var(--color-secondary);
      color: var(--color-headings);
    }
  }

  &--active {
    border-color: var(--color-secondary);
    color: var(--color-headings);
  }
}
