@use "./../../abstracts/mixins" as *;
@use "./../../abstracts/variables" as *;

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  &--hamburger {
    display: none;

    @include media($bp-mobile) {
      display: flex;
    }
  }

  &--features,
  &--active {
    width: 100%;
    padding: var(--xl-fs) var(--5xl-fs);
    color: var(--color-universal-dark);
    border-bottom: 3px solid transparent;
    transition: var(--transition-duration);

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      border-color: var(--color-secondary);
      color: var(--color-headings);
    }
  }

  &--active {
    border-color: var(--color-secondary);
    color: var(--color-headings);
  }

  &--faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--large-fs);
    width: 100%;
    padding: 4px var(--small-fs);
    border-radius: 9px;
    color: var(--color-headings);
    font-size: var(--large-fs);
    transition: var(--transition-duration);

    &:focus-within {
      outline: 2px solid var(--color-primary);
      outline-offset: 2px;
    }

    @include media($bp-smallest) {
      font-size: var(--default-fs);
      text-align: left;
    }
  }

  &__image {
    transition: var(--transition-duration);
  }

  &--primary {
    align-self: flex-start;
    padding: var(--large-fs);
    max-width: 120px;
    width: 100%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 4px;
    font-weight: 500;
    font-size: var(--small-fs);

    transition: var(--transition-duration);
    background-color: var(--color-secondary);
    color: var(--color-neutral);

    @include media($bp-smallest) {
      max-width: 100%;
    }

    &:focus-within {
      outline: 2px solid currentColor;
      outline-offset: 2px;
    }
  }

  &--sended {
    --color-secondary: hsl(142, 72%, 29%);
  }
}
